<div>
    <div>
        <h1 class="text-2xl mb-8"> list items </h1>
        <button mat-button
                [matMenuTriggerFor]="menu"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                id="add">add +</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item id="user" (click)="navigatePath(urlAddNewUser)">user</button>
            <button mat-menu-item id="user-group" (click)="navigatePath(urlAddNewUserGroup)">userGroup</button>
        </mat-menu>

    </div>
    <div class="mb-8"
         *ngIf="isAllData()">
        <table class="table-auto">
            <tr class="border-b dark:border-neutral-500">
                <th class="px-6 py-4"
                    *ngFor="let item of itemHeader">{{item.title}}</th>
            </tr>
            <tr class="border-b dark:border-neutral-500"
                *ngFor="let item of allData;">
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{item.name}}</td>
                <td class="whitespace-nowrap px-6 py-4 font-medium"
                    [attr.item-id]="item.id">{{item.description}}</td>
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{item.firstName ?? '' }}</td>
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{item.lastName ?? ''}}</td>
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{item.email ?? ''}}</td>
                <td class="whitespace-nowrap px-6 py-4 font-medium">{{item.type ?? ''}}</td>
                <td class="whitespace-nowrap px-6 py-4 font-medium">
                    <mat-icon id="delete"
                              (click)="deletedItem(item.id)">delete</mat-icon>
                    <mat-icon id="edit"
                              (click)="editItem(item.id)">edit</mat-icon>
                </td>
            </tr>
        </table>

    </div>
</div>